body {
	background-image: url(/Users/mviswanatibco.com/Downloads/csp-dishes-main-2/src/images/homePgImage.png);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: right bottom;
}

p {
    font-size: 23px;
    width: 40%;
    text-align: center;
    background-color: #cddafd;
    color: white;
	font-family: monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cddafd
  }

li {
  float: left;
  border-right:1px solid rgb(255, 255, 255);
  font-family: monospace;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: lightgray;
}

.active {
  background-color: lightpink;
}


.meddetail {
	width: 100%;
	padding: 25px;
	background-color: coral;
	color: white;
	font-size: 25px;
	background-image: url("./../images/greek-desserts.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

header
{
  width: 100%;
  height: 100%;
  background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;
  top: 0;
  position: fixed;
  z-index: -1;
}

footer
{
  width: 100%;
  height: 300px;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content
{
  height: 1000px;
  min-height: 1000px;
  background: #ededed;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff;
}

header h1{}

.content h1{
  line-height: 1000px;
  color: #999;
}

footer h1
{
  line-height: 300px;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.section {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.paragraph {
  color: #555;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
}

.title {
  font-size: 24px;
  color: #222;
  line-height: 24px;
}

.italiandetail {
	width: 100%;
	padding: 25px;
	background-color: coral;
	color: white;
	font-size: 25px;
  background-image: url("./../images/italiandessertsbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.indiandetail {
	width: 50%;
	padding: 25px;
	background-color: coral;
	color: white;
	font-size: 25px;
  background-image: url("./../images/indiandessertsbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;s
}

.mexicandetail {
	width: 100%;
	padding: 25px;
	background-color: coral;
	color: white;
	font-size: 25px;
  background-image: url("./../images/mexicandessertsbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.thaidetail {
	width: 100%;
	padding: 25px;
	background-color: coral;
	color: white;
	font-size: 25px;
  background-image: url("./../images/thaidessertsbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

button[name=search_init] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 30px;
    color: #c9dfe6;
    border: 1px solid #fff;
    padding: 4px 9px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: left;
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;
}

:after, :before {
    box-sizing: border-box;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
